{% extends "base.html" %}{% load static %}
{% block html_head %}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/autocomplete.js' %}"></script>
{% endblock %}
{% block html_main %}
    <div class="quote-content">
        {% for message in messages %}
            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        <form method='post' action='' class="mb-0">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12 mb-2">
                    <h6>{{ form_author.name.label }}:</h6>
                    {{ form_author.name }}
                </div>
            </div>
            {% for field in form_quote %}
                <div class="row">
                    <div class="col-md-12 mb-2">
                        <h6>{{ field.label }}:</h6>
                        {{ field }}
                    </div>
                </div>
            {% endfor %}
            <button class="btn btn-success" type="submit">Сохранить</button>
        </form>
    </div>
    <script>
        $( "#id_name" ).on( "keydown", function( event ) {
            if ( event.keyCode === $.ui.keyCode.TAB &&
                $( this ).autocomplete( "instance" ).menu.active ) {
                event.preventDefault();
            }
        }).autocomplete({
            source: {{ list_author | safe }}
        });

        $( "#id_tag" ).on( "keydown", function( event ) {
            if ( event.keyCode === $.ui.keyCode.TAB &&
                $( this ).autocomplete( "instance" ).menu.active ) {
                event.preventDefault();
            }
        }).autocomplete({
            minLength: 0,
            source: function( request, response ) {
                response( $.ui.autocomplete.filter(
                    {{ list_tag | safe }}, extractLast( request.term ) )
                );
            },
            focus: function() {
                return false;
            },
            select: function( event, ui ) {
                let terms = split( this.value );
                terms.pop();
                terms.push( ui.item.value );
                terms.push( "" );
                this.value = terms.join( ", " );
                return false;
            }
        });
    </script>
{% endblock %}
