{% extends "base.html" %}{% load static %}
{% block html_head %}
    <script src="{% static 'js/highlight.js' %}"></script>
{% endblock %}
{% block html_main %}
    {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    <div class="quote-content" id="quote-content">
        {% for quote in quotes %}
            {% include "quote/quote.html" %}
        {% endfor %}
    </div>
    {% if search %}
        <script>
            highlight("{{ search }}");
        </script>
    {% endif %}
{% endblock %}
