            <article class="quote-post">
                <div class="quote-text">
                    {{ quote.quote }}
                </div>
                <div class="row">
                    <div class="col-auto mr-auto"></div>
                    <div class="col-auto mr-0 text-right">
                        <div class="quote-author">
                            <a href="{% url 'show_author' quote.author.id %}">{{ quote.author }}</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto mr-auto">
                        <div class="quote-tag">
                            <ul>
                                {% for tag in quote.get_tags %}
                                    <li>
                                        <a href="{% url 'show_tag' tag.id %}" class="btn btn-outline-success" role="button" aria-pressed="true">{{ tag.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto mr-0 text-right">
                        <div class="quote-share">
                            <div class="ya-share2" data-curtain data-limit="0" data-more-button-type="short" data-popup-position="outer" data-services="vkontakte,facebook,odnoklassniki,telegram,twitter" data-title="{{ quote }}" data-url="{{ request.META.HTTP_HOST }}{% url 'show_quote' quote.id %}"></div>
                        </div>
                    </div>
                </div>
            </article>
