{% extends "base.html" %}{% load static %}
{% block html_main %}
    <div class="quote-content">
        {% for author in authors %}
            <article class="quote-post">
                <a href="{% url 'author_show' author.id %}" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ author.name }}</h5>
                        <span class="text-muted">{{ author.count_quote }}</span>
                    </div>
                </a>
            </article>
        {% endfor %}
    </div>
{% endblock %}
