{% extends "base.html" %}{% load static %}
{% block html_head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.min.css" integrity="sha512-TfnGOYsHIBHwx3Yg6u6jCWhqz79osu5accjEmw8KYID9zfWChaGyjDCmJIdy9fJjpvl9zXxZamkLam0kc5p/YQ==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.min.js" integrity="sha512-TToQDr91fBeG4RE5RjMl/tqNAo35hSRR4cbIFasiV2AAMQ6yKXXYhdSdEpUcRE6bqsTiB+FPLPls4ZAFMoK5WA==" crossorigin="anonymous"></script>
{% endblock %}
{% block html_main %}
    <div class="quote-content">
        <form method='post' action='' class="mb-0">
            {% csrf_token %}
            {% for field in form_create_quote %}
                <div class="row">
                    <div class="col-md-12 mb-2">
                        <h6>{{ field.label }}:</h6>
                        {{ field }}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    </div>
                </div>
            {% endfor %}
            <button class="btn btn-primary" type="submit">Сохранить</button>
        </form>
    </div>
    <script>
        let pathname = $(location).attr('href');
        $('input[name="author"]').autoComplete({
            source: function(term, response){
                $.getJSON(pathname, { author: term }, function(data){
                    console.log(pathname, { author: term }, data);
                    response(data);
                });
            }
        });
    </script>
{% endblock %}
