{% extends "base.html" %}{% load static %}
{% block html_main %}
    <div class="quote-content">
        {% for tag in list_tag %}
            <article class="quote-post">
                <a href="{% url 'show_tag' tag.id %}" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ tag.title }}</h5>
                        <span class="text-muted">{{ tag.count_quote }}</span>
                    </div>
                </a>
            </article>
        {% endfor %}
    </div>
{% endblock %}
