body {
    background-color: #e9ecef!important;
    font-family: "Roboto", sans-serif;
}
header.bg-dark {
    background-color: #123456!important;
}
header .navbar-brand {
    font-family: serif;
    padding-top: 0;
    color: #46a149!important;
}
header .nav-link {
    color: rgba(255, 255, 255, 0.7)!important;
}
header .nav-link:hover {
    color: rgba(255, 255, 255, 1)!important;
}
header .active {
    background-color: #46a149;
    color: rgba(255, 255, 255, 1)!important;
}
header .active .nav-link {
    color: rgba(255, 255, 255, 1)!important;
}

header .quote-add {
    margin-right: 10px;
}
main .container {
    padding: 72px 15px 0;
}
.quote-content {
    margin: auto;
    padding-right: 15px;
    padding-left: 15px;
}
.quote-post {
    position: relative;
    display: block;
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.quote-post::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.quote-post:hover {
    -webkit-transform: scale(1.02, 1.02);
    transform: scale(1.02, 1.02);
}
.quote-post:hover::after {
    opacity: 1;
}
.quote-text {
    margin: 0;
    padding: 54px;
    position: relative;
    text-align: center;
}
.quote-text:before, .quote-text:after {
    font-size: 54px;
    color: #46a149;
    position: absolute;
    height: 2px;
    left: 20px;
    right: 20px;
    line-height: .5;
    background: linear-gradient(to right, #46a149 45%, transparent 45%, transparent), linear-gradient(to right, transparent, transparent 55%, #46a149 55%);
    font-family: serif;
}
.quote-text:before {
    content: "\201C";
    top: 30px;
}
.quote-text:after {
    content: "\201D";
    bottom: 30px;
}
.quote-author {
    float: right;
    position: relative;
    padding-right: 20px;
}
.quote-author a {
    color: black;
}
.quote-author a:hover {
    color: #46a149;
}
.quote-author::before {
    content: "—";
}
.quote-tag ul {
    list-style: none;
    padding: 20px;
}
.quote-tag ul li {
    display: inline;
}
.quote-tag ul li a {
    color: black;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #dddddd;
    text-align: center;
}
